footer {
    width: 100%;
    display: grid;
    grid-row: 5/6;
    grid-column: 1/2;
    color: white;
    background-color: rgb(0, 0, 0);

    

   grid-template-columns: 1fr 1fr;

    /* background-color: rgb(82, 81, 81); */

}

footer h3 {
    background-color: rgb(208, 223, 185);
    border-radius: 4px;
    color: white;
    grid-row: 1/2;
    grid-column: 1/2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    

}

footer a {
    color: whitesmoke;
    text-decoration: none;

  
}

footer h2{
    grid-row: 2/3;
    grid-column: 2/3;
    color: white;
    
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(175, 153, 112);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer img {
    grid-row: 1/2;
    grid-column: 2/3;
    border-radius: 7rem;
    border: 3px solid orange;
    
    width: 90%;
    height: 90%;
}

footer h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

footer p {
    color: white;
    font-size: 2rem;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(175, 153, 112);

}


