.seccion3{
    max-width: 375px;
    margin: 0 auto; /* Centra la sección */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 12px; /* Aumenta el padding */
    font-size: 14px; /* Ajusta el tamaño de fuente */
}
th {
    background-color: #4CAF50; /* Color de fondo de los encabezados */
    color: white; /* Color del texto de los encabezados */
    text-transform: uppercase; /* Texto en mayúsculas */
}

td {
    background-color: #f9f9f9; /* Color de fondo de las celdas */
}
tr:nth-child(even) td {
    background-color: #e6f7ff; /* Color de fondo alternativo */
}
tr:hover td {
    background-color: #d1f0ff; /* Color de fondo al pasar el ratón */
}

/* Para estilos adicionales, como botones */
button {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
button:hover {
    background-color: #45a049;
}