header {
    width: 100%;
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;

    border: 1px solid black;
    padding: 2rem 1rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 236, 236);
}

header a {
    width: 10rem;
    height: 3rem;
    
    color: black;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    
    box-shadow: 5px 5px 5px black;
}


header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: solid;
}

header a:hover {

    color: black;
    transition: 0.3;
    background-color: transparent;
    background-color: rgb(209, 202, 188);
}


/*  max-width: 37.5rem;  
height: 6rem; 
margin: auto; 
padding: 0 1rem;  


display: flex;
justify-content: space-between;
align-items: center; 
*/